<!-- <section class="nav footer bleed black">
    <div class="s6 stubborn"><h3><strong>.YZE</strong></h3></div>
    <div class="s6 stubborn right bottom"><p>
        <a href="/blog/">Blog</a>
        <br><a href="/work/">Work</a>
        <br><a href="/contact/">Contact</a>
        <br><a href="/about/">About</a>
    </p></div>
</section> -->

<!-- <section id="footer" class="nav bleed"> -->
<section class="nav bleed">
    <div class="s12">
        <p>
            <a href="/m/scy/faq/">FAQ</a>
            <br><a href="/m/scy/careers/">Careers</a>
            <br><a href="/m/scy/contact/">Contact</a>
            <br><a href="/m/scy/">All rights reserved</a>
            <br><a href="/m/scy/">Copyright @ Society.Exclusive 2022</a>
        </p>
    </div>

    <!-- <div class="icon instagram"></div>
    <div class="icon linkedin"></div>
    <div class="icon tiktok"></div>
    <div class="icon vimeo"></div>
    <div class="icon email"></div> -->
</section>
