<section class="black expansive">
    <div class="s4 stubborn row footer-socials">
        <a href="https://www.instagram.com/pitchandsync/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><div class="icon instagram"></div></a>
        <a href="https://www.linkedin.com/company/pitch-&-sync/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><div class="icon linkedin"></div></a>
        <!-- <p>Instagram LinkedIn</p> -->
    </div>
    <div class="s8 stubborn right footer-copy footer-address">
        <p class="caption"><a href="mailto:info@pitchandsync.com">info@pitchandsync.com</a><br>7 Swanfield Street, E2 7DW, London</p>
    </div>

     <div class="s12 footer-logo"><h2>Pitch <strong>&</strong><br>Sync</h2></div>

    <div class="s12 footer-nav footer-copy">
        <p class="spread-links">
            <a href="/p&s/work/">work</a>
            <a href="/p&s/services/sync-supervision/">sync</a>
            <a href="/p&s/services/">talent</a>
            <a href="/p&s/services/">strategy</a>
            <a href="/p&s/services/">audio-branding</a>
            <a href="/p&s/studio/">studio</a>
        </p>
    </div>

</section>
