
:root {
    /* --text: #7f7f7f; */

    /* --black: #1d1d1d; */
    --black: #131313;
    /* --white: #dedede; */
    --white: #FAF9F6;
    /* --red: #ff0000; */
    --red: #FF2E24;

    --margin: 150px;
    --columns: 12; --gutter: 25px; --spacing: 30px;
    --inner-gap: calc(var(--spacing) / 2);
}
