@font-face {
    font-family: "YZE";
    src: url("assets/YZE.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.blog {
    flex: 1;
}

.blog-list {
    display: grid !important;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gutter);
}

.blog-list[hidden] {
    display: none !important;
}

.blog-post {
    max-width: 920px;
    margin: 0 auto;
}

.blog-post p {
    line-height: 1.18;
}

.blog-post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gutter);
    width: 100%;
}

.blog-post > img {
    width: 100%;
}

.blog-post-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    text-align: right;
}
